.container {
  display: grid;
  grid-template-columns: 1fr 3fr 2fr;
  color: white;
  height: 100vh;

  >:not(:last-child) {
    margin-right: 1rem;
  }
}

.leftColumn {
  background-color: #11161c;
}

.centerColumn {
  > :nth-child(2) {
    margin-bottom: 1rem;
  }
}

.rightColumn {
  padding: 1rem;

  > :not(:last-child) {
    margin-bottom: 1rem;
  }
}

.textArea {
  width: 300px;
  height: 300px;
  border: 1px solid black;
  border-radius: 5px;
  padding: 1rem;
  margin-bottom: 1rem;
}