.container {
  display: flex;
  flex-direction: column;
  list-style: none;
  background-color: #11161c;
  border-radius: 12px;
  padding: 1rem;

  >:not(:last-child),
  >:not(:first-child) {
    margin-right: 0.5rem;
  }
}

.title {
  margin: 0 0 1rem 0;
}

.separator {
  border-bottom: 1px solid #333;
}

.newsContainer {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;

  >:not(:last-child) {
    margin-right: 0.5rem;
  }
}